{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
   {%for show in shows %}
   <div class="col-sm-4">
      <div class="tile tile-show">
         <a href="/artists/{{ show.artists.id }}">
            <img src="{{ show.artists.image_link }}" alt="Artist Image">
         </a>
         <h4>{{ show.start_time|datetime('full') }}</h4>
         <h5>
            <a href="/artists/{{ show.artists.id }}">{{ show.artists.name }}</a>
         </h5>
         <p>playing at</p>
         <h5>
            <a href="/venues/{{ show.venues.id }}">{{ show.venues.name }}</a>
         </h5>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}
